<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caton.kotlindemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--
  表示app使用了什么功能，
        false表示设备没有这个功能也能使用这个app，
        true表示设备有这个功能才能使用这个app.
        uses-feature 只起到指示性的作用， 并不是强制检测。
            ——即使程序不具有uses-feature指定的软硬件资源，也不影响启动，只是会影响该功能的正常使用。
            就如给应用贴上一个标签，方便了解app的资源需求与分类。
            GooglePlay 会根据uses-feature的声明 过滤、分类app。
    -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:backupAgent=".util.MyBackupAgent"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAI6T92PTo6Q9m3vyJ5WJXrDLVEtLIeLYDqNaO6kA" />
        <activity android:name=".ui.activity.BackUpAgentActivity"></activity>
        <activity android:name=".ui.activity.NIOActivity" />
        <activity android:name=".ui.activity.LocalSocketActivity" />
        <activity android:name=".ui.activity.WorkManagerActivity" />
        <activity android:name=".ui.activity.AndroidJobActivity" />
        <activity android:name=".ui.activity.AIDLAccessServiceActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".ui.activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MainActivity" />

        <service
            android:name=".service.ChildProcessService"
            android:process=".bg" />
        <service
            android:name=".service.LocalSocketClientService"
            android:process=".localsocketclient" />
    </application>

</manifest>